* {
   font-family: 'Raleway', sans-serif;
}

.nav {
    background-color: rgba(52, 49, 49, 0.994);
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin:0;
} 

.nav-title {
    color: white;
    margin-left: 20px; 
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 60px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li { 
    margin: 15px;
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;    
}

#btn {
    font-size: 105%;
    color: white;
    background-color: rgb(24, 148, 148);
    border: 4px solid black; 
    box-shadow: 2px 2px black;
    margin-right: 10px; 
    margin-top: -4px; 
}
